.navBar{
    display: flex; flex-direction: row;
    justify-content: flex-end;
    border: 0px solid pink;
    background-color: #303030;
}
.nav-item{
    text-decoration: none;
    color: aliceblue;
    padding: 0.5vw 1vw;
    background-color: #979797;
    border: 0px solid green;
    border-radius: 15px;
    margin: 1vw 2vw;
}